@model DomainEntities.Icon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Icon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon9)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
