@model DomainEntities.Question

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this question?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInFrench)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInFrench)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInGerman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInGerman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInSpain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInSpain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInItalian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInItalian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTimeAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTimeAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreToWin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreToWin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuizCategory.TitleInEnglish)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
