@model DomainEntities.Offer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class = "col-sm-10">
            <img style="height: 40px;" src="~/Resources/Offer/@Model.Id/@Model.Photo1" alt="@Model.Photo1">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class="col-sm-10">
            <img style="height: 40px;" src="~/Resources/Offer/@Model.Id/@Model.Photo2" alt="@Model.Photo2">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>
        <dd class="col-sm-10">
            <img style="height: 40px;" src="~/Resources/Offer/@Model.Id/@Model.Photo3" alt="@Model.Photo3">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>
        <dd class="col-sm-10">
            <img style="height: 40px;" src="~/Resources/Offer/@Model.Id/@Model.Photo4" alt="@Model.Photo4">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo5)
        </dt>
        <dd class="col-sm-10">
            <img style="height: 40px;" src="~/Resources/Offer/@Model.Id/@Model.Photo5" alt="@Model.Photo5">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-GameId="@Model.GameId">Back to Offer</a>
</div>
