@model DomainEntities.Offer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
<h1>Offer</h1>

@if (Model != null && Model.Id == 0)
{<p>
        <a asp-action="Create" asp-route-id="@Model.GameId">Create New</a>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VideoName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Photo1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo5)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SlotCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*//@foreach (var item in Model)
                //{*@
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.VideoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.VideoURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Photo1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo5)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => Model.SlotCode)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@Model.GameId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
            </tr>
            @*//}*@
        </tbody>
    </table>
}

<div>
    <a asp-action="Index" asp-controller="Game">Back to Game</a>
</div>