@model DomainEntities.QuizCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QuizCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInFrench)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInFrench)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInGerman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInGerman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInItalian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInItalian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleInSpain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleInSpain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconInButtonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconInButtonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconInPartyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconInPartyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.GameId">Back</a>
</div>
