@model DomainEntities.Answer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerInEnglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerInEnglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerInFrench)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerInFrench)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerInGerman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerInGerman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerInSpain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerInSpain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerInItalian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerInItalian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
